header
    .navegacion
        .container
            .row.justify-left-center.justify-content-md-left.align-items-center.py-3
                .col-6.col-md-4
                    a(href="/")
                        img(src="/img/", alt="B al Cuadrado",
                        class="img-fluid")
                .col-6.col-md-8
                    nav.nav.justify-content-center.justify-content-md-end
                        a(href="/nosotros" class="nav-link") Nosotros
                        a(href="/servicios" class="nav-link") Servicios
                        a(href="/comentanos" class="nav-link") Comentanos